button {
  background-color: rgb(128, 114, 111);
  color: white;
  padding: 0.5rem;
  border-radius: 7px;
  border: none;
  font-weight: bolder;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background-color: rgb(206, 192, 192);
  }
}
